<% if admin_logged_in? %>
<div align = "left"><%= button_to "Back", admins_super_admin_path, :method => "get" %></div>
<p style="color:red"><%= notice %></p>
<h1>Change Marketplace and Right Signature URL</h1>

<%= render 'edit_urls_form' %>

<% end %>

