<a href="/admins/index">
        Admin Information
</a>
<br>
<a href="/admins/new">
        Create a New Admin
</a>
<br>
<a href="/admins/changelogin">
        Change Master Admin Information
</a>
 
<%= button_to "Logout", admin_log_out_path, :method => "get" %>