<!-- if admin_logged_in? 
<!-- might need a student_logged_in variable
This shouldn't work without it
-->

<p style="color:red"><%= notice %></p>
<h1>Change Studnet Password</h1>

<%= render 'changepasswordform' %>

<% end %>

